<!-- Hero Section Begin -->
<section class="hero-section set-bg" style="background-image: url('https://themewagon.github.io/manup/img/hero.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="hero-text">
                    <span>Change Your Mind</span>
                    <h2>Let's Celebrate Your <br />Events Party With Us</h2>
                    <a href="#" class="primary-btn">Create Event</a>
                </div>
            </div>

            <div class="col-lg-5">
                <!-- <img src="https://themewagon.github.io/manup/img/hero-right.png" alt=""> -->
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->