<header class="header-section">
    <div class="container">
        <div class="logo">
            <a routerLink="/">
                <img src="https://i.ibb.co/9hhgkSF/logo-1.png" alt="Logo">
            </a>
        </div>
        <div class="nav-menu">
            <nav class="mainmenu mobile-menu">
                <ul>
                    <li *ngFor="let item of navItems" [routerLinkActive]="'active'">
                        <a [routerLink]="item.route">{{ item.name }}</a>

                        <!-- Dropdown menu for speakers -->
                        <ul class="dropdown" *ngIf="item.children">
                            <li *ngFor="let child of item.children">
                                <a [routerLink]="child.route">{{ child.name }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <a href="#" class="primary-btn top-btn">
                <i class="fa fa-ticket"></i> Ticket
            </a>
        </div>
        <!-- Mobile Menu -->
        <div id="mobile-menu-wrap">
            <div class="slicknav_menu">
                <a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed">
                    <span class="slicknav_menutxt">MENU</span>
                    <span class="slicknav_icon">
                        <span class="slicknav_icon-bar"></span>
                        <span class="slicknav_icon-bar"></span>
                        <span class="slicknav_icon-bar"></span>
                    </span>
                </a>
                <nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                    <ul>
                        <li *ngFor="let item of navItems" [routerLinkActive]="'active'">
                            <a [routerLink]="item.route">{{ item.name }}</a>

                            <!-- Mobile Dropdown menu for speakers -->
                            <ul class="dropdown" *ngIf="item.children">
                                <li *ngFor="let child of item.children">
                                    <a [routerLink]="child.route">{{ child.name }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>