<!-- Home About Section Begin -->
<section class="home-about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="https://themewagon.github.io/manup/img/h-about.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h4>About Shortys</h4>
                    <h2>We Are The Best Event Planner & Organizer</h2>


                    <p>Pellentesque rutrum tempus arcu, lacinia vestibulum massa vehicula vel. Pellentesque habitant
                        morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam rutrum neque ac
                        urna laoreet ultrices.
                    </p>
                    <ul>
                        <li><span class="icon_check"></span> Best Quality Services</li>
                        <li><span class="icon_check"></span> 100% Satisfaction Guarantee</li>
                        <li><span class="icon_check"></span> Quality Control System</li>
                        <li><span class="icon_check"></span> Commitment to Customers</li>
                        <li><span class="icon_check"></span>Highly Professional Team</li>
                    </ul>
                    <a href="#" class="ha-btn">Discover Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home About Section End -->