<!-- latest BLog Section Begin -->
<section class="latest-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Latest Blog & Articles</h2>
                    <p>Do not miss anything topic about the event</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="latest-item set-bg large-item"
                    style="background: url('https://themewagon.github.io/manup/img/blog/latest-b/latest-1.jpg');">
                    <div class="li-tag">Marketing</div>
                    <div class="li-text">
                        <h4><a href="./blog-details.html">Improve You Business Cards And Enchan Your Sales</a></h4>
                        <span><i class="fa fa-clock-o"></i> 19th May, 2019</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="latest-item set-bg"
                    style="background: url('https://themewagon.github.io/manup/img/blog/latest-b/latest-2.jpg');">
                    <div class="li-tag">Experience</div>
                    <div class="li-text">
                        <h5><a href="./blog-details.html">All users on MySpace will know that there are millions of
                                people out there.</a></h5>
                        <span><i class="fa fa-clock-o"></i> 19th May, 2019</span>
                    </div>
                </div>
                <div class="latest-item set-bg"
                    style="background: url('https://themewagon.github.io/manup/img/blog/latest-b/latest-1.jpg');">
                    <div class="li-tag">Marketing</div>
                    <div class="li-text">
                        <h5><a href="./blog-details.html">A Pocket PC is a handheld computer, which features many of the
                                same capabilities.</a></h5>
                        <span><i class="fa fa-clock-o"></i> 19th May, 2019</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- latest BLog Section End -->