<section class="breadcrumb-section add-image-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 event-form">
                <div class="col-lg-12 ">
                    <form id="multiStepForm" class="comment-form contact-form">
                        <div class="form-section active">

                            <div class="row">
                                <h2>TELL US ABOUT YOUR FUNCTION</h2>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Your Name">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Email">
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <select class="form-control" placeholder="Type Of Function">
                                        <option value="Company Drinks" selected="selected"> Type Of Function </option>
                                        <option value="Company Drinks" selected="selected"> Company Drinks </option>
                                        <option value="Team Building &amp; offsite events"> Team Building &amp; offsite
                                            events </option>
                                        <option value="Corporate celebrations"> Corporate celebrations </option>
                                        <option value="Corporate end of year / EOFY events"> Corporate end of year /
                                            EOFY events </option>
                                        <option value="Cultural &amp; National Days"> Cultural &amp; National Days
                                        </option>
                                        <option value="Christmas Party"> Christmas Party </option>
                                        <option value="Sporting event"> Sporting event </option>
                                        <option value="Blue Monday"> Blue Monday </option>
                                    </select>
                                </div>
                                <h2>WHAT ARE THE DETAILS OF THE ATTENDEES</h2>
                                <div class="col-lg-6 mb-4">
                                    <select class="form-control " id="NumberOfPeople">
                                        <option selected="selected">Number Of People</option>
                                        <option value="10-20"> 10-20 </option>
                                        <option value="20-30"> 20-30 </option>
                                        <option value="30-40"> 30-40 </option>
                                    </select>

                                </div>
                                <div class="col-lg-6 mb-4">
                                    <select class="form-control ">
                                        <option selected="selected">Guest Breakdown </option>
                                        <option value="Male -100%"> Male -100% </option>
                                        <option value="Male -100%"> Male -100% </option>
                                        <option value="Male 80 / Female 20"> Male 80 / Female 20 </option>
                                        <option value="Male 60 / Female 40"> Male 60 / Female 40 </option>
                                        <option value="Male 50 / Female 50"> Male 50 / Female 50 </option>
                                        <option value="Female 60 / Male 40"> Female 60 / Male 40 </option>
                                        <option value="Female 80 / Male 20"> Female 80 / Male 20 </option>
                                        <option value="Female 100%"> Female 100% </option>
                                    </select>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <select class="form-control " id="Non-Drinkers">
                                        <option selected="selected">Non- Drinkers</option>
                                        <option value="0%"> 0% </option>
                                        <option value="10% - 20%"> 10% - 20% </option>
                                        <option value="20% - 30%"> 20% - 30% </option>
                                        <option value="30% - 40%"> 30% - 40% </option>
                                        <option value="40% - 50%"> 40% - 50% </option>
                                        <option value="50% - 60%"> 50% - 60% </option>
                                        <option value="60% - 70%"> 60% - 70% </option>
                                        <option value="70% - 80%"> 70% - 80% </option>
                                        <option value="80% - 90%"> 80% - 90% </option>
                                        <option value="90% - 100%"> 90% - 100% </option>
                                    </select>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <select class="form-control " id="AverageAge">
                                        <option selected="selected">Average Age </option>
                                        <option value="18 - 25"> 18 - 25 </option>
                                        <option value="25 - 30"> 25 - 30 </option>
                                        <option value="30 - 40"> 30 - 40 </option>
                                        <option value="40 - 50"> 40 - 50 </option>
                                        <option value="50 - 60"> 50 - 60 </option>
                                        <option value="60+"> 60+ </option>
                                    </select>
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <select class="form-control " id="TypeOfEvent">

                                        <option selected="selected">Type Of Event</option>
                                        <option value="Stand up reception / Cocktail"> Stand up reception / Cocktail
                                        </option>
                                        <option value="Sit down reception - with bottles on table"> Sit down reception -
                                            with bottles on table </option>
                                        <option value="Sit down reception - without bottles on table"> Sit down
                                            reception - without bottles on table </option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="form-section">
                            <div class="row">
                                <h2>WHEN ARE YOU PLANNING TO HAVE THE EVENT</h2>
                                <div class="col-lg-12 mb-4">
                                    <select class="form-control  " id="TimeOfDate"><!---->
                                        <option value="Breakfast" selected="selected"> Time Of Date</option>
                                        <option value="Breakfast"> Breakfast </option>
                                        <option value="Brunch"> Brunch </option>
                                        <option value="Lunch"> Lunch </option>
                                        <option value="Afternoon"> Afternoon </option>
                                        <option value="From 6pm"> From 6pm </option>
                                        <option value="From 8pm"> From 8pm </option>
                                    </select>
                                </div>

                                <div class="col-lg-12 mb-0">
                                    <!-- Using input type="date" to trigger the date picker -->
                                    <input type="date" placeholder="Event Date" class="form-control" id="eventDate">
                                </div>
                                <div class="col-lg-12 mb-4">

                                    <select class="form-control  " id="Length"><!---->
                                        <option selected="selected">Length </option>
                                        <option value="1 hour"> 1 hour </option>
                                        <option value="2 hour"> 2 hour </option>
                                        <option value="3 hour"> 3 hour </option>
                                        <option value="4 hour"> 4 hour </option>
                                        <option value="5 hour"> 5 hour </option>
                                        <option value="6 hour"> 6 hour </option>
                                        <option value="7 hour"> 7 hour </option>
                                        <option value="8 hour"> 8 hour </option>
                                        <option value="9 hour"> 9 hour </option>
                                        <option value="10 hour"> 10 hour </option>
                                        <option value="11 hour"> 11 hour </option>
                                        <option value="12 hour"> 12 hour </option>
                                        <option value="13 hour"> 13 hour </option>
                                    </select>

                                </div>
                                <div class="col-lg-12 mb-4">
                                    <select class="form-control  " id="ExpenditureRage"><!---->
                                        <option selected="selected">Expenditure Rage </option>
                                        <option value="Cheap and Cheerful"> Cheap and Cheerful </option>
                                        <option value="Something for everyone"> Something for everyone </option>
                                        <option value="A cut above"> A cut above </option>
                                        <option value="Next level"> Next level </option>
                                        <option value="No expense spared"> No expense spared </option>
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="form-section">

                            <div class="row">
                                <h2>HERE IS WHAT WE ARE RECOMMENDING</h2>
                                <div class="col-lg-4 mb-0">
                                    <h3>Type</h3>
                                    <h4> White Wine</h4>
                                    <h4>Red Wine</h4>
                                    <h4>Beer</h4>
                                    <h4>Sparkling And Champagne</h4>
                                    <h4>Mineral Water</h4>
                                    <h4>Cocktails</h4>
                                    <h4>Spirits And Mixers</h4>
                                    <h4><b>Total Drinks</b></h4>
                                </div>
                                <div class="col-lg-4 mb-0 driks">
                                    <h3>No.Of Drinks</h3>
                                    <input type="number" placeholder="1">
                                    <input type="number" placeholder="1">
                                    <input type="number" placeholder="1">
                                    <input type="number" placeholder="1">
                                    <input type="number" placeholder="1">
                                    <input type="number" placeholder="1">
                                    <input type="number" placeholder="1">
                                    <h4><b>12</b></h4>
                                </div>
                                <div class="col-lg-4 mb-0">
                                    <h3>No.Of Bottles</h3>
                                    <div class="col-lg-4 mb-0">
                                        <h4>1</h4>
                                        <h4>1</h4>
                                        <h4>1</h4>
                                        <h4>1</h4>
                                        <h4>1</h4>
                                        <h4>1</h4>
                                        <h4>1</h4>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div>
                            <button type="button" class="site-btn" id="backBtn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>