<!-- Counter Section Begin -->
<section class="counter-section bg-gradient">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="counter-text">
                    <span>Upcoming event</span>
                    <h3>Count Every Second <br />Until the Event</h3>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="cd-timer" id="countdown">
                    <div class="cd-item">
                        <span>40</span>
                        <p>Days</p>
                    </div>
                    <div class="cd-item">
                        <span>18</span>
                        <p>Hours</p>
                    </div>
                    <div class="cd-item">
                        <span>46</span>
                        <p>Minutes</p>
                    </div>
                    <div class="cd-item">
                        <span>32</span>
                        <p>Seconds</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->